<div data-role="header" >
 <%= link_to 'Home', my_chatter_home_path, "data-icon" => "home", "data-iconpos" => "notext", "data-role" => "button", "data-theme" => "b", "data-transition" => "flip", "data-direction" => "reverse" %>
 <h1>My Followers</h1>
</div>
<div data-role="content">
	Not implemented yet....
</div>